@model Lecture.DAO.InviteContext
<h1>View Invite</h1>
@* using bootstrap table *@
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Is Attending</th>
      <th scope="col">Parties Attended</th>
      <th scope="col">Age</th>
    </tr>
  </thead>
  <tbody>
    @foreach (Invite inv in @Model.Invites)
    {   
        <tr>
        <th scope="row">@inv.id</th>
        <td> <a asp-area="" asp-controller="HouseParty" asp-action="ViewInvite" asp-route-inviteID = "@inv.id">@inv.inviteName</a> </td>
        <td>@inv.isAttending</td>
        <td>@inv.numberAttended</td>
        <td>@inv.age</td>
        </tr>
    }
  </tbody>
</table>
