@model Lecture.Models.Invite
<h1>View Invite</h1>

<p>ID : @Model.id</p>
<p>Name : @Model.inviteName</p>
<p>Is Attending : @Model.isAttending</p>
<p>Parties Attended : @Model.numberAttended</p>
<p>Age : @Model.age</p>